/*

Dient den Hard - und Software-Entwicklern schnell mit einer brandneuen Hardware
den Leser zum Laufen zu bekommen.
Die hier gespeicherten Konfig Daten werden NICHT als Konfiguration gespeichert oder zum
Browser übertragen - sind aber grundsätzlich im Image enthalten und könnten ausgelesen werden!

Zuerst dies Datei unter src/local/DefaultConfigurations.cpp abspeichern und anpassen.

Wird dann das Projekt mit -D AMIS_DEVELOPER_MODE=1 compiliert, werden die unten angegebenen
Einstellungen verwendet.
Verwendung findet nur statt,  wenn *keine* Konfiguration im Filesystem des ESP8266 gefunden wird!


************** ACHTUNG **************
NIEMALS DIESE DATEI MIT IRGENDWELCHEN PRIVATEN ODER SICHERHEITSRELEVANTEN DATEN EINCHECKEN!

************** CAUTION **************
NEVER COMMIT THIS FILE CONTAINING ANY PRIVATE OR SECURITY INFORMATION!

*/

#if (AMIS_DEVELOPER_MODE)


#include "DefaultConfigurations.h"


#ifdef DEFAULT_CONFIG_GENERAL_JSON
#warning "Your image contains a preconfigured general configuration."
const char *defaultConfigGerneralJson = R"(
{
    "devicetype": "AMIS-Reader",
    "devicename": "Amis-1",
    "auth_passwd": "admin",
    "auth_user": "admin",
    "use_auth": false,
    "log_sys": false,
    "amis_key": "",
    "thingspeak_aktiv": false,
    "channel_id": 0,
    "write_api_key": "",
    "read_api_key": "",
    "thingspeak_iv": 30,
    "channel_id2": "",
    "read_api_key2": "",
    "rest_var": 0,
    "rest_ofs": 0,
    "rest_neg": false,
    "smart_mtr": false,
    "shelly_smart_mtr_udp": false,
    "shelly_smart_mtr_udp_device_index": 0,
    "shelly_smart_mtr_udp_offset": 0,
    "shelly_smart_mtr_udp_hardware_id_appendix": "",
    "reboot0": false,
    "switch_on": 0,
    "switch_off": 0,
    "switch_url_on": "",
    "switch_url_off": "",
    "switch_intervall": 60,
    "developerModeEnabled": false,
    "webserverTryGzipFirst": true
}
)";
#endif

#ifdef DEFAULT_CONFIG_WIFI_JSON
#warning "Your image contains a preconfigured wifi configuration"
const char *defaultConfigWifiJson = R"(
{
    "ssid": "your-ssid",
    "wifipassword": "your-wifi-password",
    "channel" : 0,
    "dhcp": false,
    "ip_static": "192.168.xx.aa",
    "ip_netmask": "255.255.255.0",
    "ip_gateway": "192.168.xx.bb",
    "ip_nameserver": "192.168.xx.cc",
    "rfpower": 21,
    "mdns": false,
    "allow_sleep_mode": true,
    "pingrestart_do": false,
    "pingrestart_ip": "192.168.xx.dd",
    "pingrestart_interval": 60,
    "pingrestart_max": 3
}
)";
#endif

#ifdef DEFAULT_CONFIG_MQTT_JSON
#warning "Your image contains a preconfigured mqtt configuration"
const char *defaultConfigMqttJson = R"(
{
    "mqtt_enabled": false,
    "mqtt_broker": "192.168.xx.ee",
    "mqtt_port": 1883,
    "mqtt_user": "mqtt-user",
    "mqtt_password": "mqtt-passwordd",
    "mqtt_clientid": "mqclient",
    "mqtt_qos": 0,
    "mqtt_retain": false,
    "mqtt_keep": 30,
    "mqtt_pub": "amis/out",
    "mqtt_ha_discovery": true,
    "mqtt_will": ""
}
)";
#endif


#endif // (AMIS_DEVELOPER_MODE)


/* vim:set ts=4 et: */
