name: cpplint

on:
  push:
    paths-ignore:
      - Docs/**
      - '*.md'
      - '**/*.md'
  pull_request:
    paths-ignore:
      - Docs/**
      - '*.md'
      - '**/*.md'
jobs:
  cpplint:
    name: cpplint - static check/validation of source being nice and smooth
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install cpplint
      - name: Linting
        run: |
          cpplint --repository=. --recursive '--extensions=c,cpp,c++,cxx,inl' '--headers=h,hpp,h++,hxx' --filter=-build/c++11,-runtime/references,-readability/braces,-whitespace,-legal,-build/include,-readability/casting ./src ./include
